spring:
  datasource:
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 1
      connection-timeout: 5000
      validation-timeout: 5000
      idle-timeout: 300000     # 5m
      max-lifetime: 900000     # 15m
      keepalive-time: 120000   # 2m
      pool-name: HikariPool-ChukChuk

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          use_get_generated_keys: true
          statement_cache_size: 0

sentry:
  dsn: ${PROD_SENTRY_DSN}
  environment: prod

server:
  forward-headers-strategy: native

logging:
  level:
    org.hibernate.SQL: off
    org.hibernate.type.descriptor.sql.BasicBinder: off

swagger:
  server-url: https://api.cchaksa.com