<configuration>

    <!-- ========== local ========== -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ========== prod / dev ========== -->
    <springProfile name="prod | dev">

        <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
            <minimumEventLevel>ERROR</minimumEventLevel>
            <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
            <mdcTags>userId,traceId,spanId</mdcTags>
            <sendDefaultPii>false</sendDefaultPii>
            <stacktrace.app.packages>com.chukchuk.haksa</stacktrace.app.packages>
        </appender>

        <logger name="HTTP" level="INFO"/>
        <logger name="com.chukchuk.haksa" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="SENTRY"/>
        </root>
    </springProfile>

</configuration>